@import '../global.scss';
.characterwrapper{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:0;
    z-index: 999;
    left:0;
    
    width: 100%;
   
    img{
        height: 250px;
        width: 150px;
        border-radius:20px;
        @include mobile{
            width:100px;
            height: 150px;
            border-radius: 10px;
            margin:3px 0;
        }
    }
    .details{
        display: flex;
        flex-direction:column;
        // align-items:center;
        .quotes{
            font-size:10px;
        }
    }
}