@import '../global.scss';
.wrapper{
.character{
    
    padding:8px;
    .characterimg{
        width: 180px;
        height: 250px;
        border-radius: 20px;
        margin: 6px 0px;


        @include mobile{
            width:150px;
            height: 200px;
            border-radius: 10px;
            margin:5px 0px;
            padding: 2px;
        }
       
    }
}

}
