@import '../global.scss';

@include mobile{
    h1{
        font-size: 20px;
    }
}

.charcards{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    
    

    @include mobile {
        display:flex;
        flex-direction:column;
        overflow-x: hidden;
        column-gap:0px;
        row-gap: 5px;

        align-items:center;

        
        
    }

    // .cards{
    //    display:flex;
    //    align-items:center;
    // }


}